.container {
    max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
	height: 100%;
}

.inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 15px;
    color: var(--color-light);
}

.item {
    min-width: 300px;
    height: 350px;
    background-size: cover;
    cursor: pointer;
    border-radius: var(--L-border-radius);
    display: flex;
    align-items: flex-end;
    transition: all 0.3s ease-in;
    background: var(--blue-gradient);
}

.item:hover {
    transform: scale(1.01);
}

.item_name {
    max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.80838px);
    border-radius: var(--L-border-radius);
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    text-align: left;
    margin: 10px;
    padding: 10px 15px;
}

.item_name:hover {
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 992px) {

    .inner {
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
    
    .item {
        height: 300px;
    }

}

@media (max-width: 768px) {

    .item {
        border-radius: var(--M-border-radius);
    }

    .item_name {
        border-radius: var(--M-border-radius);
        font-size: 22px;
    }
    
}

@media (max-width: 576px) {

    .inner {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    
    .item {
        height: 220px;
        border-radius: var(--S-border-radius);
    }

    .item_name {
        border-radius: var(--S-border-radius);
        font-size: 18px;
    }

}