.services_container {
    max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
	height: 100%;
}

.services_inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 15px;
    color: #fff;
}

.services_item {
    min-width: 300px;
    height: 350px;
    background-size: cover;
    cursor: pointer;
    border-radius: 18px;
    display: flex;
    align-items: flex-end;
    transition: all 0.3s ease-in;
}

.services_item:hover {
    transform: scale(1.02);
}

.services_item-name {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.80838px);
    border-radius: 18.0838px;
    font-weight: 800;
    font-size: 32px;
    line-height: 150%;
    white-space: nowrap;
    margin: 10px;
    padding: 0 15px;
    opacity: 0.9;
}

.services_item-name:hover {
    opacity: 1;
}

@media (max-width: 992px) {

    .services_inner {
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
    
    .services_item {
        height: 300px;
    }

}

@media (max-width: 768px) {

    .services_item-name {
        border-radius: 12px;
        font-size: 25px;
    }
    
}

@media (max-width: 576px) {

    .services_inner {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    
    .services_item {
        height: 220px;
    }

    .services_item-name {
        border-radius: 9px;
        font-size: 18px;
    }

}