.service {
    background: url(../../assets/img/service-bg.png) 100% 100% no-repeat;
    background-position: left top;
    padding: 100px 0;
}

.service_container {
    max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
    text-align: center;
}

.service_inner {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.service_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    background: #FDFDFD;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    width: 25%;
    height: 190px;
    padding: 20px;
}

.service_item_icon {
    width: 70px;
    height: 70px;
}

.service_desc {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}

@media (max-width: 1200px) {

    .service_desc {
        font-size: 16px;
    }
	    
}

@media (max-width: 992px) {

    .service {
        padding: 70px 0;
    }

    .service_inner {
        flex-wrap: wrap;
    }
    
    .service_item {
        width: 31%;
        height: 170px;
    }

    .service_item_icon {
        width: 60px;
        height: 60px;
    }
	    
}

@media (max-width: 768px) {

    .service {
        padding: 50px 0;
    }

    .service_inner {
        grid-template-columns: 1fr 1fr;
    }

    .service_item {
        min-width: 48%;
        height: 160px;
    }

    .service_desc {
        font-size: 14px;
    }
}

@media (max-width: 576px) {

    .service {
        background: url(../../assets/img/service-bg.png) 100% 100% no-repeat;
        background-position: left bottom;
        padding: 100px 0;
    }

    .service_container {
        padding: 0;
    }

    .service_inner {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        column-gap: 0;
    }

    .service_inner::-webkit-scrollbar {
        background: transparent;
    }

	.service_item {
        min-width: 200px;
        padding: 10px;
        height: 140px;
        cursor: pointer;
        margin: 10px;
    }

    .service_item_icon {
        width: 50px;
        height: 50px;
    }

}

