.advantages {
    background: url(./../../assets/img/our-advantages-bg.jpg) no-repeat;
    background-position: center 70%;
    padding: 100px 0;
    background-size: cover;
}

.advantages_container {
    max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
    text-align: center;
}

.advantages_inner {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.advantages_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    background: #FDFDFD;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.13);
    border-radius: var(--L-border-radius);
    height: 190px;
    padding: 20px;
}

.advantages_item_icon {
    width: 70px;
    height: 70px;
}

.advantages_desc {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}

@media (max-width: 1200px) {

    .advantages_desc {
        font-size: 16px;
    }
	    
}

@media (max-width: 992px) {

    .advantages {
        padding: 70px 0;
    }

    .advantages_inner {
        flex-wrap: wrap;
    }

    .advantages_item {
        width: 30%;
        height: 170px;
    }

    .advantages_item_icon {
        width: 60px;
        height: 60px;
    }
	    
}

@media (max-width: 768px) {

    .advantages {
        padding: 50px 0;
    }

    .advantages_item {
        width: 48%;
        height: 160px;
        border-radius: var(--M-border-radius);
    }

    .advantages_desc {
        font-size: 14px;
    }
}

@media (max-width: 576px) {

    .advantages_container {
        padding: 0;
    }

    .advantages_inner {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        column-gap: 15px;
        padding: 0 15px;
    }

    .advantages_inner::-webkit-scrollbar {
        background: transparent;
    }

	.advantages_item {
        min-width: 225px;
        padding: 10px;
        height: 125px;
        cursor: pointer;
        margin: 10px 0;
        border-radius: var(--S-border-radius);
    }

    .advantages_item_icon {
        width: 50px;
        height: 50px;
    }

}