.weoffer {
    background: url(./../../assets/img/we-offer-bg.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
}

.weoffer_container {
    max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
	height: 100%;
}

.weoffer_inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    margin-bottom: 25px;
    row-gap: 20px;
    column-gap: 20px;
}

.weoffer_item {
    width: 400px;
    height: 250px;
    background-size: cover;
    cursor: pointer;
    border-radius: 18px;
    display: flex;
    align-items: flex-end;
    transition: all 0.3s ease-in;
}

.weoffer_item:hover {
    transform: scale(1.03);
}

.weoffer_item-name {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.80838px);
    border-radius: 18.0838px;
    font-weight: 800;
    font-size: 32px;
    line-height: 150%;
    white-space: nowrap;
    margin: 10px;
    padding: 0 15px;
    opacity: 0.9;
}

.weoffer_item-name:hover {
    opacity: 1;
}



@media (max-width: 1280px) {

    
}

@media (max-width: 992px) {

    .weoffer_item {
        width: 350px;
        height: 200px;
    }
    
}

@media (max-width: 768px) {

    .weoffer_container {
        max-width: 1270px;
        padding: 0;
        margin: 0 auto;
    }

    .weoffer_inner {
        flex-wrap: nowrap;
        overflow-x: scroll;
        column-gap: 15px;
    }

    .weoffer_inner::-webkit-scrollbar {
        background: transparent;
    }

    .weoffer_item-name {
        border-radius: 12px;
        font-size: 25px;
    }
    
}

@media (max-width: 576px) {

    .weoffer_inner {
        margin-bottom: 0;
    }

    .weoffer_item {
        width: 280px;
        height: 180px;
    }

    .weoffer_item-name {
        border-radius: 9px;
        font-size: 18px;
    }

    
}