@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-transform: uppercase;
}

.button {
    padding: 12px 41px;
    background: linear-gradient(90.13deg, #105BFB 0.1%, #5061FF 134.04%);
    color: #fff;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 120%;
    text-transform: lowercase;
}

.button span {
    margin-right: 25px;
}

.navigation {
    top: 30px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 50px;
}

.nav_list {
    margin: 0 auto;
}

.nav_link {
    white-space: nowrap;
    text-align: right;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-transform: lowercase;
    color: #FEFBFB;
}

.nav_contacts {
    color: #fff;
    white-space: nowrap;
}

.show {
    margin-bottom: 15px;
    text-align: left;
}

.header {
    background: url(./../img/header-bg.png) 100% 100% no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;

    display: flex;
	justify-content: center;
    align-items: center;
    color: #fff;
}

.header-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    margin: 12px 0 40px;

    max-width: 469px;
}