/* -------Light button--------- */

.light_btn {
    padding: 12px 30px;
    border-radius: var(--L-border-radius);
    border: 1px solid var(--color-blue);
    background-color: var(--color-light);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-transform: lowercase;
    transition: all 0.5s;
    margin-top: 25px;
}

.light_btn:hover {
    transform: scale(1.01);
}

@media (max-width: 992px) {

    
}

@media (max-width: 768px) {

    .light_btn {
		padding: 12px 20px;
		border-radius: var(--M-border-radius);
		font-size: 18px;
	}
}

@media (max-width: 576px) {

	.light_btn {
		padding: 12px 15px;
		border-radius: var(--S-border-radius);
		font-size: 14px;
	}
    
}