.nav {
    position: fixed;
    top: 30px;
    width: 100%;
    padding: 0 15px;
    color: #fff;
    white-space: nowrap;
    z-index: 10000;
}

.nav_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1240px;
	margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px 0;
}

.nav_list {
    display: flex;
	row-gap: 15px;
	align-items: center;
    justify-content: space-between;
	column-gap: 40px;
}

.nav_link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
    display: flex;
    align-items: center;
}

.nav_link:hover {
    opacity: 1;
}

.nav_link.active {
     border-bottom: 2px solid #fff;
}

.nav_link img {
    width: 80%;
}

.nav_link_contacts {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hide_active.active {
     border-bottom: none;
}

.nav_toggle {
    display: none;
}

.sign_btn {
    padding: 7px 20px;
    background: linear-gradient(90.13deg, #105BFB 0.1%, #5061FF 134.04%);
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

.sign_btn:hover {
    transform: scale(1.02);
}

.sign_btn_toggle {
    display: none;
}


@media (max-width: 992px) {

    .phone {
        margin-left: 15px;
    }

    .nav_list {
        column-gap: 15px;
    }

    .nav_link {
        font-size: 15px;
    }

}

@media (max-width: 768px) {

    .nav {
        top: 0;
        padding: 0;
    }

    .nav_container {
        justify-content: space-between;
        border-radius: 0;
        padding: 10px 15px;
    }

    .nav_list {
        position: absolute;
        top: 0;
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
        justify-content: center;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(5px);
        text-align: center;
        transition: all 0.3s;
        transform: translateX(200%);
    }

    .nav_link_contacts {
        align-items: center;
        row-gap: 10px;
    }

    .nav_list.open {
        transform: translateX(0);
    }

    .nav_toggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    body.body_hidden {
        overflow: hidden;
    }
    
    .bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: #fff;
    }
    
    .bar::before, .bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        transition: all 0.3s;
    }
    
    .bar::before {
        width: 32px;
        transform: translateY(-8px);
    }
    
    .bar::after {
        width: 32px;
        transform: translateY(8px);
    }
    
    .nav_toggle.open .bar {
        transform: translateX(-37px);
        background: transparent;
    }
    
    .nav_toggle.open .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
    
    .nav_toggle.open .bar::after {
        width: 32px;
        transform: rotate(-45deg) translate(26px, 26px);
    }

    .sign_btn {
        display: none;
    }

    .sign_btn_toggle {
        display: block;
        padding: 7px 20px;
        background: linear-gradient(90.13deg, #105BFB 0.1%, #5061FF 134.04%);
        color: #fff;
        border-radius: 5px;
    }
}

@media (max-width: 576px) {

    .nav_link img {
        width: 70%;
    }

    .nav_toggle {
        width: 40px;
        height: 40px;
    }

    .bar {
        width: 28px;
    }

    .bar::before {
        width: 28px;
    }
    
    .bar::after {
        width: 28px;
    }

}