.footer {
    background-color: #5061FF;
    border-radius: 40px 40px 20px 20px;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 60px;
}

.footer_container {
    background-color: #F9F9F9;
    border-radius: 35px;
}

.footer_inner {
    max-width: 1350px;
	padding: 30px 15px;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_links img {
    width: 100px;
}

.footer_links-social p {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer_links-social a {
    margin-right: 10px;
}

.footer_menu li {
    line-height: 120%;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.footer_link:hover{
    color: #5061FF;
    text-decoration: underline;
}

.footer_info {
   display: flex; 
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   line-height: 150%;
}

.footer_map {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.13);
}

.footer_bottom {
	padding: 10px 15px;
    font-weight: 100;
    font-size: 14px;
    color: #F1F6FF;
    text-align: center;
}