.gatesTypes {
    background: url(./../../assets/img/we-offer-bg.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    padding: 0 0 100px 0;
}

.gatesTypes_container {
    max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

.gatesTypes_inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 260px;
    grid-auto-flow: dense;
    grid-gap: 15px;
    color: #fff;
}

.gatesTypes_item {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 18px;
    display: flex;
    align-items: flex-end;
    transition: all 0.3s ease-in;
}

.gatesTypes_item:hover {
    transform: scale(1.02);
}

.gatesTypes_item:nth-child(3n) {
    grid-row: span 2;
}

.gatesTypes_item-name {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.80838px);
    border-radius: 18.0838px;
    font-weight: 800;
    font-size: 32px;
    line-height: 150%;
    white-space: nowrap;
    margin: 10px;
    padding: 0 15px;
    opacity: 0.9;
}

.gatesTypes_item-name:hover {
    opacity: 1;
}



@media (max-width: 1280px) {

    
}

@media (max-width: 992px) {

    .gatesTypes {
        padding: 0 0 70px 0;
    }
    
    
}

@media (max-width: 768px) {

    .gatesTypes {
        padding: 0 0 50px 0;
    }
    
    .gatesTypes_inner {
        flex-wrap: nowrap;
        overflow-x: scroll;
        column-gap: 15px;
    }

    .gatesTypes_inner::-webkit-scrollbar {
        background: transparent;
    }

    .gatesTypes_item-name {
        border-radius: 12px;
        font-size: 25px;
    }
    
}

@media (max-width: 576px) {

    .gatesTypes_container {
        padding: 0;
    }

    .gatesTypes_inner {
        display: flex;
        padding: 0 15px;
        margin-bottom: 0;
    }

    .gatesTypes_item {
        border-radius: 10px;
        min-width: 250px;
        height: 180px;
    }

    .gatesTypes_item-name {
        border-radius: 9px;
        font-size: 18px;
    }

    
}