.scrollBtn {
    position: fixed;
    right: 20px;
    bottom: 150px;
    height: 70px;
    width: 70px;
    background-color: #5061FF;
    border-radius: 50%;
    opacity: 0.8;
    transition: all 0.2s ease-in;
    animation: opacity 1s alternate ease-in;
}

@keyframes opacity {
    from {
        opacity: 0;
    } 
    to {
        opacity: 0.8;
    }
}

.scrollBtn:hover {
    opacity: 1;
}

.scrollBtn svg {
    animation: arrow 0.5s alternate infinite ease-in;
}

@keyframes arrow {
    from {
        transform: translateY(2px);
    } 
    to {
        transform: translateY(-2px);
    }
}

@media (max-width: 992px) {

    .scrollBtn {
        bottom: 30px;
    }
    
}

@media (max-width: 768px) {

    .scrollBtn {
        bottom: 30px;
        height: 60px;
        width: 60px;
    }
    
    .scrollBtn svg {
        height: 30px;
    }
    
}

@media (max-width: 576px) {

    .scrollBtn {
        bottom: 20px;
        height: 50px;
        width: 50px;
    }
    
    .scrollBtn svg {
        height: 28px;
    }
}